*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html, body{
    height: 100%;
    overflow: hidden;
}

.main{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    background-color: #F3F2F1;
    height: 100%;
    overflow: hidden;
}
.sidebar{
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    background-color: #ffff;
    height: 100vh;
    opacity: 1;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap : 10px;

}
.neptune{
    width: 70%;
    height: auto;
    opacity: 1;
    color: #1F4451;
  
}
.name-box{
    width: 100%;
    height: auto;
    opacity: 1;
    border-radius: 6px;
    border: 0.5px solid #B5BDCD;
    display: flex;
    align-items: center;
}
.logo{
width: 41px;
height: 41px;
padding: 5px;

}
.name{
    font-family: 'Spline Sans';
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 0%;
    width: 183px;
    height: 38px;
    opacity: 1;
    color: #2A2A2A;
    display: flex;
    flex-direction: column;
    padding-top: 4px;

}
#type-display{
    width: 159px;
    height: 0px;
    opacity: 1;
    font-family: 'Spline Sans';
    font-weight: 400;
    font-size: 10px;
    color: #626D82;
    padding-bottom: 5px;
}
.menu{
    padding-left: 5px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.menu-items{
    display: flex;
    gap :15px;
    align-items: center;
    padding: 8px;
}
.menu-items p{
    font-family: Spline Sans;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #626D82;
}
.document{
    display: flex;
    gap :12px;
    padding: 8px;
    border-radius: 6px;
    background-color: #D3F7B5;
}
.document p{
    padding-top: 3px;
    font-family: Spline Sans;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #1F4451;
}
.help{
    
    width: 100%;
    height:auto;
    padding-top: 45px;
    padding-bottom: 0px;
   
}
.help h2{
    font-family: Spline Sans;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #1F4451;
}
.help p{
    font-family: 'Spline Sans';
    font-weight: 600;
    font-size: 12px; 
    line-height: 140%;
    letter-spacing: 0%;
    color: #626D82;
    padding-bottom: 10px;
    padding-top: 5px;
} 
.btn{
    width: 35%;
    height: 20%;
    opacity: 1;
    border-radius: 5px;
    background-color: #1F4451;
    padding-bottom: 5px;
    display: flex;
    
}
.btn p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Spline Sans;
    font-weight: 600;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    padding: 13px
    
}
.content{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    height: 100%;
    overflow-y: auto;
}
.home-bar{
    display: flex;
    gap : 10px;
}
.home-bar p{
    font-family: 'Spline Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #436D7C;
}
.home-bar img{
    color: #D1D5DB;
}
.header{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.header h1{
    font-family: 'Zin Display', serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 100%;
    letter-spacing: 0%;

}
.search-box{
    width: 70%;
    height: 30px;
    background-color:  white;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    border: #B5BDCD solid 0.5px;
    border-radius: 5px;
}
.search-box input::placeholder{
   
    font-family: 'Spline Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0;
    color: #B5BDCD;

}
#search{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}
.table-container{
    max-height: 370px;
    overflow-y: auto;
    overscroll-behavior: contain;
    border-radius: 10px;
    background-color: white;
}
.doc-table{
    width:100%;
    height:100%;
    background: white;
    border-radius: 10px;
    border-collapse: collapse;
    z-index: 9999;
}
.doc-table tr{
    border: 1px solid #eee;
}

.doc-table th{
    color:#000000;
    text-align:left;
    position :sticky;
    top:0;
    padding: 10px;
    font-family: 'Spline Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    background-color: #FFFFFF;
    z-index :0;
}

.doc-table td{
    padding:10px;
    text-align:left;
    font-family: 'Spline Sans';
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #436D7C;
    height: 50px;
    
}
.first-column{
    display: flex;
    gap: 25px;

}
.button {
    width: 104px;
    height: 24px;
    background-color: #FFFFFF;
    color: #626D82;
    font-weight: 500;
    border: #B5BDCD 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Inter';
}
.status-bar {
    background-color: #436D7C;
    padding: 6px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 22px;
    color: #ffff;
    width: 120px;
}

.completed{
    background-color:#D3F7B5;
    padding: 6px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 22px;
    color: #1F4451;
    width: 100px;
}
.pending{
    background-color: #E8ECF1;
    padding: 6px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 22px;
    color: #626D82;
    width: 100px;
}
.status{
    display: flex;
    flex-direction: column;
    gap :0px;
}
.pending-first{
    color :#B5BDCD;
}
.last-column{
    display: flex;
    gap :3px;
    position: relative;
    justify-content: end;
}
.icons{
    display: flex;
    gap: 2px;
}
.drop-icon{
    width: 80%;
    height: 80%;
    align-self: center;
    padding-top: 2px;
}
.first-column-th{
    display: flex;
    gap:11px;
}
.date{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;

}
.drop-icon-1{
    width:30%;
    height: 30%;
}
.neptune img{
    width: 80%;
    height: 80%;
}

.checkbox{
    width: 13px;
    height: 13px;

    align-self: center;
}
.add-button{
    width: 80px;
    height: 30px;
    background-color: #1F4451   ;
    color: #FFFFFF;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Inter';
}
.add-search{
    display: flex;
    gap : 10px;
    
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;
}
.show-overlay{
    z-index: 1000;
    opacity: 1;
    visibility: visible;
}
.form {
    background-color: #FFFFFF;
    padding: 25px 30px;
    width: 320px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    font-family: 'Inter', sans-serif;
}


.form h2 {
    font-size: 20px;
    font-weight: 600;
    color: #1F4451;
}

.form label {
    font-size: 13px;
    color: #626D82;
    font-weight: 500;
}

.form input,
.form select {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #B5BDCD;
    border-radius: 6px;
    font-size: 13px;
    outline: none;
    transition: 0.2s ease;
    background-color: #F3F2F1;

}
.form input:focus,
.form select:focus {
    border-color: #1F4451;
    box-shadow: 0 0 0 2px rgba(31, 68, 81, 0.1);
}


.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
 .cancel-btn {
    background: transparent;
    border: 1px solid #B5BDCD;
    color: #626D82;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

 .submit-btn {
    background-color: #1F4451;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 5px;
    cursor: pointer;
}
.pending-wrapper{
    display: none;
}

.edit-delete-menu{
    display: none;
    flex-direction: column;
    position: absolute;
    right: 12px;
    top:18px;
    background-color: #fff;

    border: 1px solid #e0e0e0;
    border-radius: 8px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    transition: 0.3s ease-in;
}
.show-menu{
    opacity: 1;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.update{
    border: none;
    background-color: #fff;
    padding: 10px 14px;

    text-align: left;
    font-size: 14px;
    cursor: pointer;

    transition: background-color 0.2s ease;
}

.update:hover{
    background-color: #f5f5f5;
}

.update:active{
    background-color: #eaeaea;
}
.delete-btn{
    color: red  ;
}

.three-dots{
    cursor: pointer;
}
button{
    cursor: pointer;
}
.menu-items:hover{
    border-radius: 6px;
    background-color: #D3F7B5;
    cursor: pointer;
}